
.terms {
  background-color: rgb(54, 32, 29);
  opacity: .8;

}

.loantype{
  background-color:rgb(68, 51, 68);
  opacity: .8; 
  font-size: 40px;
}

.container {
  margin-top: 150px;  
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}

.login {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  background-color:rgb(68, 51, 68);
  opacity: .8;
  width: 50%;
  height: 50%;
  margin-left: auto;  
  margin-right: auto;  
  margin-top: 100px;  
  padding: 70px 0;

}


body{
  background-image: url('./pages/LoanType/back.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#options{
  font-size: 30px;
}

.qualifications {
  background-color: rgb(35, 37, 51);
  opacity: .8;
}

.imgs {
  height: 150px;
  width: 150px;
}

#returndiv{
  position: fixed;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: auto;
  height: 700px;
  width: 900px;
  opacity: .8;
  overflow-y: scroll;
  overflow-x: hidden;
}

#card1 {
background: transparent;
color: red;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
}

#card2 {
  background: rgb(226, 226, 226);
}

#card3 {
 background: blue;
}